# Use a dedicated read-only DB user when possible.
BENNI_DB_NAME=your_database
BENNI_DB_USER=your_user
BENNI_DB_PASSWORD=your_password

# Defaults are usually fine
BENNI_DB_HOST=benni-postgres
BENNI_DB_PORT=5432
API_PORT=8081

# Felix is the database for the USDT exchange rate
FELIX_DB_NAME=felix
FELIX_DB_USER=felix_user
FELIX_DB_PASSWORD=felix_password
FELIX_DB_HOST=felix-postgres
FELIX_DB_PORT=5432

